@keyframes rotate-vibrate {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(4deg); }
  50% { transform: rotate(-4deg); }
  75% { transform: rotate(4deg); }
  100% { transform: rotate(0deg); }
}

.vibrate-rotate {
  animation: rotate-vibrate 0.4s ease-in-out infinite;
}
*{
  scroll-behavior: smooth;
}